// color palette
$primary: #04050a;
$secondary: #dec5ff;
$tertiary: #ffc5e6;
$quaternary: #f4f3f0;
$quaternary-rgb: 244, 243, 240;

// font families
$display: "Berkshire Swash", cursive;
$sans: "Raleway", sans-serif;
